#include <windows.h>
#include "mruby/version.h"

#define VERSION      \
  MRUBY_VERSION      \
  " ("               \
  MRUBY_RELEASE_DATE \
  ") "

#define COPYRIGHT               \
  "Copyright (c) "              \
  STRINGIZE(MRUBY_BIRTH_YEAR)   \
  "-"                           \
  STRINGIZE(MRUBY_RELEASE_YEAR) \
  " "                           \
  MRUBY_AUTHOR

VS_VERSION_INFO VERSIONINFO
FILEVERSION MRUBY_RELEASE_MAJOR,MRUBY_RELEASE_MINOR,MRUBY_RELEASE_TEENY,0
PRODUCTVERSION MRUBY_RELEASE_MAJOR,MRUBY_RELEASE_MINOR,MRUBY_RELEASE_TEENY,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS VS_FF_PRERELEASE
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"
    BEGIN
      VALUE "FileDescription", "Lightweight Ruby"
      VALUE "LegalCopyright", COPYRIGHT
      VALUE "ProductName", "mruby"
      VALUE "ProductVersion", VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x0000
  END
END
